body {
  margin: 0;
}

#main-container {
  width: 100%;
}

#main-content {
  width: 75%;
  height: 550px;
  float: left;
  background-image: url("https://www.shibaura1101.com/fassion/topback.png");
  background-size: cover;
}

#right-content {
  width: 25%;
  float: right;
}

#left-content {
  float: left;
  height: 500px;
}

#menu {
  overflow: hidden;
}

.menu-close-width {
  width: 0px;
  -moz-transition: .4s;
  -webkit-transition: .4s;
  -o-transition: .4s;
  -ms-transition: .4s;
  transition: .4s;
}

.menu-open-width {
  width: 250px;
  background-color: red;
  -moz-transition: .4s;
  -webkit-transition: .4s;
  -o-transition: .4s;
  -ms-transition: .4s;
  transition: .4s;
}

#header {
  width: 100%;
  text-align: right;
  background-color:#6a88ff;
  box-sizing: border-box;
  padding: 15px;
  font-size: 30px;
  color: white;
}

.form_table {
  margin: 100px auto;
}

.form_table tr td {
  font_size: 20px;
}

.form_table tr td input {
  font_size: 20px;
}

#submit {
  padding: 5px;
  width: 50%;
  background-color:#db4bb0;
  font-weight: bold;
}

#menu-icon {
  width: 50px;
  height: 50px;
  display: inline-block;
}

.menu-icon-bar {
  width: 50px;
  height: 10px;
  background-color: black;
  margin: 5px 0;
  -moz-transition: .4s;
  -webkit-transition: .4s;
  -o-transition: .4s;
  -ms-transition: .4s;
  transition: .4s;
}

.menu-icon-close-normal {
  transform: rotate(225deg);
  position: relative;
  top: 15px;
  -moz-transition: .4s;
  -webkit-transition: .4s;
  -o-transition: .4s;
  -ms-transition: .4s;
  transition: .4s;
}

.menu-icon-close-mirror {
  transform: rotate(-225deg);
  position: relative;
  top: 0px;
  -moz-transition: .4s;
  -webkit-transition: .4s;
  -o-transition: .4s;
  -ms-transition: .4s;
  transition: .4s;
}

.non-display {
  display: none;
}

#blog {
  margin-top: 50px;
}

.blog-item {
  width: 600px;
  margin: 0 auto 20px auto;
  border: 2px solid #666666;
}