<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8"/>
    <title>sign in</title>
    <link href="/css/main.css" th:href="@{/css/main.css}" rel="stylesheet"></link>
  </head>
  <body>
  	<header id="header">
  		タイトル
  	</header>
  	<div id="main-container">
  		<div id="main-content-image">
  		</div>
  		<div id="right-content">
  			<form method="post">
  				<table class="form_table">
  					<tr>
  						<td>ID</td>
  						<td><input type="text" name="id"></td>
  					</tr>
  					<tr>
  						<td>PASSWORD</td>
  						<td><input type="password" name="password"></td>
  					</tr>
  					<tr>
  						<td colspan="2" align="center"><input id="submit" type="submit" value="Sign In"></td>
  					</tr>
  				</table>
  				<p th:text="${errorMsg}"></p>
  			</form>
  			<a class="center-link" href="/signup">初めての方へ</a>
  		</div>
  	</div>
  </body>
</html>